@import "reset.css";

h1 {
    width:300px;
    font-size: 100px;
    color: #2f8cff;
    margin:50px auto; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

input {
    background-color: #f36c22;
    border: 0 solid black;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
  }

input:focus {outline:none;}

button {
    background-color: #777777;
    border: 0 solid black;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    color: #ffffff;
    font-size: 15px;
}

select {
    background-color: #7d459e;
    color: white;
    border: 0 solid black;
    border-radius: 10px;
    height: 30px;
    
}

video {
    margin: 10px;
    background-color: black;
    border: 5px solid #7d459e;
    border-radius: 15px;
  }

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcomeForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#roomButton {
    margin-top: 10px;
}

.hidden {
    display: none !important;
  }

#myStream {
    display: flex;
    justify-content: center;
    align-items: center;
}

#myButton {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#mute,
#camera {
    width: 220px;

}

#cameras {
    text-align: center;
}

#mute,
#camera,
#cameras {
    margin-top: 10px;
}

#msgForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#msgInput {
    width: 500px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

#msgBtn {
    height: 45px;
    padding-top: 13px;
    font-size: 20px;
}

#msgUl {
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: gray;
    margin: 5px 100px;
    border-radius: 10px;
    
}

li {
    margin-bottom: 3px;
}

.abc {
    background-color: #19CE60 !important;
    border-radius: 10px;
}
